.logo {
  display: inline-flex;
  align-items: flex-end;
  gap: 0;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
}
.logo img {
  display: block;
  margin: 0;
}
.web_logo,
.studio_logo {
  height: 21px;
  width: auto;
}

header nav ul {
  list-style: none;
}
header nav a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
}
header nav a:visited {
  color: #2e2f42;
}

header nav a:hover {
  color: #4d5ae5;
}
header nav a:focus {
  outline: 2px solid #ff6b08;
  outline-offset: 2px;
}

.address_info a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.address_info ul {
  list-style: none;
  /* margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;*/
}
.hero {
  width: 1400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: #2e2f42;
  color: #fff;
}
.hero h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0;
  color: #fff;
}
